<div class="sidebar">
    <h3>Latest Courses</h3>
    <h4>New course of Python</h4>
    <h5>January 1st, 2022</h5>
    <p>Start soon.<br/><a
            href="/desc_of_course/">Read more</a></p>
    <p></p>
    <h4>New course of C#</h4>
    <h5>February 1st, 2022</h5>
    <p>Start soon.<br/><a
            href="/desc_of_course/">Read more</a></p>
    <h3>Useful Links</h3>
    <ul>
        <li><a href="#">link 1</a></li>
        <li><a href="#">link 2</a></li>
        <li><a href="#">link 3</a></li>
        <li><a href="#">link 4</a></li>
    </ul>
    <h3>Search</h3>
    <form method="post" action="#" id="search_form">
        <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....."/>
        </p>
    </form>
</div>