<div id="header">
    <div id="logo">
        <div id="logo_text">
            <h1>Portal of the best courses.</h1>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
<!--            <li <?=if (active_class == '1'):?>class="selected"<?endif?>> <a href="/">Schedule</a></li>-->
            <li class="selected"><a href="/">Schedule</a></li>
            <li class="selected"><a href="/list_of_categories/">Categories</a></li>
             <li class="selected"><a href="/list-students/">Students</a></li>
            <li class="selected"><a href="/about/">About us</a></li>
            <li class="selected"><a href="/auth/">Auth</a></li>
            <li class="selected"><a href="/contacts/">Contact Us</a></li>
        </ul>
    </div>
</div>